*{
    margin:0%;
    padding: 0%;;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family:montserrat;
}
#header{
    background-color: #0082e6;
    width:100%;
    min-height: 80px;
    margin:0%;
    padding: 10px;
    color:rgb(255, 255, 255);
    padding-left: 40px;
    color:white;
    font-size: 35px;
}
.logo{
    color:white;
    font-size: 35px;
    padding-right: 10px;
    margin-right: 10px;
}

#header ul a{
    margin-right: 10px;

}
#header ul li{
    padding-right: 15px;
    margin:15px;
    float:left ;
    display: inline-block;
    color:white;
    }
#menu li{
    color:white;
}
